$grid-size: 400px;
/*$grid-row: 4;
$grid-spacing: 13px;
$cell-size: ($grid-size - ($grid-row + 1) * $grid-spacing) / $grid-row;*/
$bgcolor: #BBADA0;
$cell-color: rgba(238, 228, 218, 0.35);

@mixin flex-grid($direction) {
    display: flex;
    flex-flow: $direction wrap;
    justify-content: flex-end;
}

.grid-container {
    position: relative;
    width: $grid-size;
    height: $grid-size;
    background: $bgcolor;
    @include flex-grid(column);
    @include border-radius($border-radius);
    z-index: 0;
}

.grid-row {
    //margin-bottom: $grid-spacing;
    @include flex-grid(row);
    &:last-child {
        margin-bottom: 0;
    }
}

.grid-cell {
    @include border-radius($border-radius);
    //margin-right: $grid-spacing;
    //width: $cell-size;
    //height: $cell-size;
    background: $cell-color;

    &:last-child {
        margin-right: 0;
    }
}

#grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}