@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
 * Common variables
 */
$font-size: 18px;
$font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
$font-color: #776E65;
$white-font-color: #FFF;
$button-bgcolor: $font-color; 
$border-radius: 3px;
$header-font-size: 3em;
$overlay-color: rgba(237, 194, 46, 0.4);

/*
 * Grid variables
 */
$grid-size: 360px;
$bgcolor: #BBADA0;
$cell-color: rgba(238, 228, 218, 0.35);

/*
 * Tiles
 */
$tile-font-size: 2.2em;
$tile-font-size-s: 1.5em;
$anime-duration: 0.2s;
$anime-delay: 0;

/**
 * Overall
 */
*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    color: $font-color;
    font-size: $font-size;
    box-sizing: border-box;
}

.button {
    background: $font-color;
    outline: none;
    border: none;
    border-radius: $border-radius;
    color: $white-font-color;
}

#game {
    @include horiz-center;
    max-width: $grid-size;
    display: inline-block;
}

.game-heading {
    margin-top: 20px;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & h1 {
        margin: 0;
        font-size: $header-font-size;
    }
}

.score-board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & .score,
    & .record {
        position: relative;
        margin: 5px 3px 5px;
        padding: 25px 5px 5px;
        min-width: 60px;
        font-weight: bold;
        text-align: center;
        color: $white-font-color;
        background: $bgcolor;
        border-radius: $border-radius;

        &:before {
            position: absolute;
            left: 0;
            top: 10px;
            width: 100%;
            text-align: center;
            font-size: 12px;
            line-height: 12px;
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
        }
    }

    & .score {
        & span {
            color: inherit;
        }

        &:before {
            content: "Score";
        }
    }

    & .record {
        &:before {
            content: "Best";
        }
    }

    & .scoreAdded {
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        color: $font-color;
        transition: all $anime-duration ease-in;
        animation-duration: 0.6s;
        animation-name: moveup;
        animation-fill-mode: forwards;
    }
}

.game-ctrl {
    margin: 10px 0 20px 0;
    padding: 0 5px;
    height: 40px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    justify-content: space-between;
}

#reset {
    padding: 0 10px;
}

.resize-ctrl {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & span {
        margin: 0 3px;
        font-size: inherit;
    }

    & .minus,
    & .add {
        margin-top: 10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: $border-radius;
    }
}

.grid-container {
    @include horiz-center;
    display: inline-block;
    width: $grid-size;
    height: $grid-size;
    overflow: hidden;
}

.grid, 
.board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

.grid {
    background: $bgcolor;
    @include flex-grid(column);
    border-radius: $border-radius;
    z-index: -1;
}

.grid-row {
    @include flex-grid(row);
    &:last-child {
        margin-bottom: 0;
    }
}

.grid-cell {
    border-radius: $border-radius;
    background: $cell-color;

    &:last-child {
        margin-right: 0;
    }
}

@keyframes moveup {
    from {
        transform: translateY(0);
        opacity: 0.9;
    }

    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}


@keyframes appear {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes merge {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.tile-enter {
    transform: scale(0);

    &.tile-enter-active {
        transform: scale(1);
    }
}

.tile {
    position: absolute;
    font-weight: bold;
    text-align: center;
    transition: transform $anime-duration cubic-bezier(0.785, 0.115, 0.270, 0.895);
    z-index: 10;
    border-radius: $border-radius;

    &.tile-new {
        & .tile-inner {
            animation-duration: $anime-duration;
            animation-name: appear;
            animation-fill-mode: forwards;
            animation-delay: $anime-delay;
        }
    }

    &.tile-merge {
        & .tile-inner {
            animation-duration: $anime-duration;
            animation-name: merge;
            animation-fill-mode: forwards;
        }
    }

    & .tile-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: $border-radius;
    }

    & .tile-2 {
        background-color: #EEE;
    }

    & .tile-4 {
        background-color: #EEC;
    }

    & .tile-8 {
        color: $white-font-color;
        background-color: #FB8;
    }

    & .tile-16 {
        color: $white-font-color;
        background-color: #F96;
    }

    & .tile-32 {
        color: $white-font-color;
        background-color: #F75;
    }

    & .tile-64 {
        color: $white-font-color;
        background-color: #F53;
    }

    & .tile-128 {
        color: $white-font-color;
        background-color: #EC7;
    }

    & .tile-256 {
        color: $white-font-color;
        background-color: #EC6;
    }

    & .tile-512 {
        color: $white-font-color;
        background-color: #EC5;
    }

    & .tile-1024 {
        color: $white-font-color;
        background-color: #EC3;
    }

    & .tile-2048,
    & .tile-beyond {
        color: $white-font-color;
        background-color: #EC2;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $overlay-color;
    text-align: center;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-duration: $anime-duration;
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-delay: $anime-delay;
    transform: scale(0);
    
    & p {
        text-shadow: rgba(0, 0, 0, 0.8) 1px 1px;
    }

    & p,
    & .button-container {
        font-size: 25px;
        font-weight: bold;
        color: $white-font-color;
    }
}

.button-container {
    margin-top: 10px;
    width: 100%;

    & .continue,
    & .replay {
        width: 70px;
        height: 45px;
        line-height: 45px;
    }

    & .continue {
        margin-right: 10px;

        &:before {
            content: "\25BA";
        }
    }

    & .replay {
        &:before {
            content: "\21BB";
        }
    }
}


#footer {
    width: 100%;

    & p {
        text-align: center;
        font-size: 15px;
    }
}