@mixin flex-grid($direction) {
  display: flex;
  flex-flow: $direction wrap;
  justify-content: flex-end;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin horiz-center() {
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin vert-center() {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}
