*,
html,
body {
    box-sizing: border-box;
}

/**
 * Common
 */
.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.col {
    float: left;
}

.horiz-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.game-container {
    position: relative;
}

/**
 * Level
 */
#levels {
    margin: 10px auto;
    width: 200px;
}

.game-board {
    padding: 10px;
}

/**
 * Control bar
 */
.ctrl-bar {
    margin-bottom: 10px;
    min-width: 280px;
}

.info {
    width: 33.33333%;
    height: 27px;
    text-align: center;
}

.clock {
    left: 10px;
}

.flags {
    right: 10px;
}

.info-icon {
    margin-right: 3px;
}

.display {
    background: #333;
    color: #fff;
    height: 27px;
    width: 60px;
    line-height: 27px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
}

#reset-btn {
    padding: 0;
    width: 27px;
    height: 27px;
    font-size: 1em;
}

/**
 * Grid and tiles
 */

.tiles-row {
    height: 28px;
}

.tile {
    margin: 0 1px;
    width: 25px;
    height: 26px;
    font-size: 0.9em;
    text-align: center;
    line-height: 25px;
    outline: none;
    background: #BDC0BA;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    user-select: none;
    transition: background .2s ease-out;
    cursor: pointer;
}

.tile:active,
.tile-mine,
.tile-wrong,
.tile-0,
.tile-1,
.tile-2,
.tile-3,
.tile-4,
.tile-5,
.tile-6,
.tile-7,
.tile-8 {
    width: 25px;
    height: 25px;
    line-height: 25px;
    transform: translateY(1px);
    border: none;
    cursor: default;
}

.tile-0 {
    background: #A8D8B9;
}

.tile-1 {
    background: #FAD689;
}

.tile-2 {
    background: #F7C242;
}

.tile-3 {
    background: #FFB11B;
}

.tile-4 {
    background: #FC9F4D;
}

.tile-5 {
    background: #ED784A;
}

.tile-6 {
    background: #F05E1C;
}

.tile-7 {
    background: #E83015;
}

.tile-8 {
    background: #E83015;
}

.tile-mine,
.tile-wrong {
    background: #E83015;    
}

#footer {
    text-align: center;
}

#footer span {
    font-weight: bold;
}